/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F5F5F1;
    text-align: center;
}

#team-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    flex-wrap:wrap ;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding-bottom: 10px;
    width: calc(100% / 3 - 30px);
    text-align: center;
    border-radius: 8px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

h2 {
    padding: 0.5em 0;
}

.card-p {
    padding: 0.2em 0;
}

.header-container {
    width: 60%;
    margin: 2em auto;
}

h3 {
    padding-bottom: 1em;
}

.title-p {
    line-height: 180%;
}